In [1]:
# Submitted by Yatharth Kumar Saxena

# Importing essential libraries for data manipulation and visualization
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Loading the dataset into a working dataframe
df= pd.read_csv('Yatharth Kumar Saxena - ML_Internship_dataset_One.csv')
# Keeping a raw untouched copy for backup/reference
raw_df= pd.read_csv('Yatharth Kumar Saxena - ML_Internship_dataset_One.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Legacy_Customer_ID  482 non-null    object
 1   Age                 4491 non-null   float64
 2   Employment_Type     4488 non-null   object
 3   Education_Level     3950 non-null   object
 4   Annual_Income($)    5000 non-null   float64
 5   Credit_Score        4661 non-null   float64
 6   Region              5000 non-null   object
 7   Account_Type        5000 non-null   object
 8   Customer_Feedback   5000 non-null   object
 9   CLV_Score           4755 non-null   float64
 10  Complaint_Count     5000 non-null   int64
 11  Contact_Preference  5000 non-null   object
 12  Subscription_Tier   5000 non-null   object
 13  Target              5000 non-null   int64
dtypes: float64(4), int64(2), object(8)
memory usage: 547.0+ KB

In [4]:
# Generating summary statistics for numerical columns
df.describe()

,Age,Annual_Income($),Credit_Score,CLV_Score,Complaint_Count,Target
count,4491.000000,5000.000000,4661.000000,4755.000000,5000.000000,5000.000000
mean,41.256068,81796.280854,719.484958,28.168538,0.710400,0.400200
std,10.478119,82221.627407,49.463416,15.800728,0.841828,0.489988
min,28.000000,9.370000,545.247739,0.500000,0.000000,0.000000
25%,35.000000,24130.080000,685.010863,16.000000,0.000000,0.000000
50%,42.000000,57397.375000,719.979040,25.900000,1.000000,0.000000
75%,50.000000,111973.545000,752.797781,38.300000,1.000000,1.000000
max,61.000000,699111.240000,904.581225,86.000000,6.000000,1.000000

In [5]:
# Checking the number of rows and columns in the dataset
df.shape

(5000, 14)

In [6]:
# Displaying the first few rows to get an initial look at the data
df.head()

,Legacy_Customer_ID,Age,Employment_Type,Education_Level,Annual_Income($),Credit_Score,Region,Account_Type,Customer_Feedback,CLV_Score,Complaint_Count,Contact_Preference,Subscription_Tier,Target
0,NaN,35.0,Self-Employed,Master,8238.15,NaN,Southwest,Checking,Excellent customer service experience,17.1,0,Text,Basic,0
1,NaN,35.0,Freelancer,High School,5327.59,827.015439,Midwest,Checking,Loyalty program privileges are profitable,8.6,0,Phone,Basic,1
2,NaN,28.0,Self-Employed,Associate,78780.20,803.283954,West Coast,Checking,Return process was difficult,30.2,1,Email,Basic,1
3,NaN,50.0,Salaried,Bachelor,287709.86,756.546772,Midwest,Savings,Delivery was deferred by 3 days,29.1,0,Email,Enterprise,0
4,NaN,42.0,Salaried,Associate,59381.40,702.846204,Midwest,Savings,Highly recommend this service to colleagues,48.7,0,Email,Premium,0

In [7]:
# Checking how many missing values are present in each column
df.isnull().sum()

Legacy_Customer_ID    4518
Age                    509
Employment_Type        512
Education_Level       1050
Annual_Income($)         0
Credit_Score           339
Region                   0
Account_Type             0
Customer_Feedback        0
CLV_Score              245
Complaint_Count          0
Contact_Preference       0
Subscription_Tier        0
Target                   0
dtype: int64

In [8]:
# Viewing the data types of all columns
df.dtypes

Legacy_Customer_ID     object
Age                   float64
Employment_Type        object
Education_Level        object
Annual_Income($)      float64
Credit_Score          float64
Region                 object
Account_Type           object
Customer_Feedback      object
CLV_Score             float64
Complaint_Count         int64
Contact_Preference     object
Subscription_Tier      object
Target                  int64
dtype: object

In [9]:
# Inspecting unique identifiers in the Legacy_Customer_ID column
df['Legacy_Customer_ID']

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
4995        NaN
4996        NaN
4997    ID_XXXX
4998        NaN
4999        NaN
Name: Legacy_Customer_ID, Length: 5000, dtype: object

In [10]:
# Non- Nan values are also irrelevant,
'Drop the column'
df.drop(columns=['Legacy_Customer_ID', 'Customer_Feedback'], axis=1, inplace= True)

In [11]:
# Viewing the data types of all columns
df.dtypes

Age                   float64
Employment_Type        object
Education_Level        object
Annual_Income($)      float64
Credit_Score          float64
Region                 object
Account_Type           object
CLV_Score             float64
Complaint_Count         int64
Contact_Preference     object
Subscription_Tier      object
Target                  int64
dtype: object

In [12]:
# Filling missing values in 'Age' column using the median age
df['Age']= df['Age'].fillna(df['Age'].median())

In [13]:
# Checking frequency distribution of unique values in the 'Age' column
df['Age'].value_counts()

Age
42.0    1520
28.0    1004
35.0     989
50.0     965
61.0     522
Name: count, dtype: int64

In [14]:
# Viewing the cleaned 'Age' column after filling missing values
df['Age']

0       35.0
1       35.0
2       28.0
3       50.0
4       42.0
        ...
4995    50.0
4996    28.0
4997    28.0
4998    50.0
4999    35.0
Name: Age, Length: 5000, dtype: float64

In [15]:
# Rechecking for missing values across the dataset
df.isnull().sum()

Age                      0
Employment_Type        512
Education_Level       1050
Annual_Income($)         0
Credit_Score           339
Region                   0
Account_Type             0
CLV_Score              245
Complaint_Count          0
Contact_Preference       0
Subscription_Tier        0
Target                   0
dtype: int64

In [16]:
# Viewing count of each category in 'Employment_Type'
df['Employment_Type'].value_counts()

Employment_Type
Salaried         1933
Freelancer       1057
Self-Employed    1008
Unemployed        490
Name: count, dtype: int64

In [17]:
# Listing all unique values in 'Employment_Type' before filling missing ones
df['Employment_Type'].unique()

array(['Self-Employed', 'Freelancer', 'Salaried', nan, 'Unemployed'],
      dtype=object)

In [18]:
# Replacing missing values in 'Employment_Type' with 'Unknown'
df['Employment_Type']= df['Employment_Type'].fillna('Unknown')

In [19]:
# # Numeric columns: median
# df['Age']= df['Age'].fillna(df['Age'].median())
# df['Credit_Score']= df['Credit_Score'].fillna(df['Credit_Score'].median())
# df['CLV_Score']= df['CLV_Score'].fillna(df['CLV_Score'].median())

# # Categorical columns: 'Unknown'
# df['Employment_Type']= df['Employment_Type'].fillna('Unknown')
# df['Education_Level']= df['Education_Level'].fillna('Unknown')

In [20]:
# Verifying unique values after filling missing entries
df['Employment_Type'].unique()

array(['Self-Employed', 'Freelancer', 'Salaried', 'Unknown', 'Unemployed'],
      dtype=object)

In [21]:
# Checking updated count distribution after handling missing values
df['Employment_Type'].value_counts()

Employment_Type
Salaried         1933
Freelancer       1057
Self-Employed    1008
Unknown           512
Unemployed        490
Name: count, dtype: int64

In [22]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Employment_Type'] = le.fit_transform(df['Employment_Type'])

In [23]:
df['Employment_Type'].value_counts()

Employment_Type
1    1933
0    1057
2    1008
4     512
3     490
Name: count, dtype: int64

In [24]:
df['Education_Level'].unique()

array(['Master', 'High School', 'Associate', 'Bachelor', nan, 'PhD'],
      dtype=object)

In [25]:
df['Education_Level'].value_counts()

Education_Level
High School    1291
Bachelor        910
Associate       859
Master          683
PhD             207
Name: count, dtype: int64

In [26]:
df['Education_Level']= df['Education_Level'].fillna('Unknown')

In [27]:
from sklearn.preprocessing import LabelEncoder
lbl= LabelEncoder()
df['Education_Level']= lbl.fit_transform(df['Education_Level'])

In [28]:
df['Education_Level'].unique()
# ['Master', 'High School', 'Associate', 'Bachelor', 'Nan', 'PhD']

array([3, 2, 0, 1, 5, 4])

In [29]:
df['Education_Level'].value_counts()

Education_Level
2    1291
5    1050
1     910
0     859
3     683
4     207
Name: count, dtype: int64

In [30]:
df['Credit_Score']= df['Credit_Score'].fillna(df['Credit_Score'].median())

In [31]:
df['CLV_Score']= df['CLV_Score'].fillna(df['CLV_Score'].median())

In [32]:
df.dtypes

Age                   float64
Employment_Type         int64
Education_Level         int64
Annual_Income($)      float64
Credit_Score          float64
Region                 object
Account_Type           object
CLV_Score             float64
Complaint_Count         int64
Contact_Preference     object
Subscription_Tier      object
Target                  int64
dtype: object

In [33]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()
features= ['Region', 'Account_Type', 'Contact_Preference', 'Subscription_Tier']
for i in features:
    df[i]=le.fit_transform(df[i])

In [34]:
for i in features:
    print(i,':', df[i].unique())
    print("-------------------------------------------")

Region : [2 0 3 1]
-------------------------------------------
Account_Type : [0 2 1]
-------------------------------------------
Contact_Preference : [3 2 1 0]
-------------------------------------------
Subscription_Tier : [0 1 2]
-------------------------------------------

In [35]:
df.dtypes

Age                   float64
Employment_Type         int64
Education_Level         int64
Annual_Income($)      float64
Credit_Score          float64
Region                  int64
Account_Type            int64
CLV_Score             float64
Complaint_Count         int64
Contact_Preference      int64
Subscription_Tier       int64
Target                  int64
dtype: object

In [36]:
df.isnull().sum()

Age                   0
Employment_Type       0
Education_Level       0
Annual_Income($)      0
Credit_Score          0
Region                0
Account_Type          0
CLV_Score             0
Complaint_Count       0
Contact_Preference    0
Subscription_Tier     0
Target                0
dtype: int64

In [37]:
X= df.iloc[:,:-1]
y= df['Target']

In [38]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=32)

In [39]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report

In [40]:
#Random Forest Classifier Model
rf_m = RandomForestClassifier()
rf_m.fit(X_train, y_train)
y_pred= rf_m.predict(X_test)
acc_rf=accuracy_score(y_test,y_pred)
c_rf= classification_report(y_test,y_pred)
print("Accuracy for rf: ",acc_rf)
print(c_rf)

Accuracy for rf:  0.5568
              precision    recall  f1-score   support

           0       0.58      0.87      0.70       730
           1       0.39      0.12      0.19       520

    accuracy                           0.56      1250
   macro avg       0.49      0.49      0.44      1250
weighted avg       0.50      0.56      0.48      1250